.all-posts {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
  
  h2 {
    margin: 2rem auto 1rem auto;
  }

  ul {
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;

    li {
      margin: 0 auto;
    }

    .tags {
      margin-bottom: 0.33rem;
    }
  }
}
