#activity {
  &.page {
    .products {
      padding: 1rem;
      max-width: 1024px;

      h4 {
        margin: 0;
        font-weight: 300;
        font-size: 1.33rem;
      }

      #filter-bar {
        margin: 0 0 1rem 0;

        .btn-group,
        .dropdown {
          margin: 0.22rem;
        }
      }

      .divider {
        margin: 0 0 1rem 0;
      }
    }

    @media (min-width: 768px) {
      margin-top: 4rem;
    }

    @media (min-width: 1024px) {
      .products {
        margin: 2rem auto;
        padding: 0.5rem;

        h3 {
          text-align: left;
        }

        @media (min-width: 1024px) {
          padding: 0;
        }

        #filter-bar {
          padding: 0.33rem 0;

          .dropdown:first-child {
            margin-left: 0;
          }

          .btn-group,
          .dropdown {
            margin: 0 0.22rem;
          }
        }
      }
    }
  }
  footer {
    margin-top: 64px;
  }
}
