#blog-post {
  .full-img {
    height: 66vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;

    @media (min-width: 1200px) {
      flex-direction: row;
    }

    .responsive-video {
      max-width: 100vw;
      width: 100%;
    }

    article {
      margin: 1rem auto;
      max-width: 768px;
      padding: 0 0.5rem;

      h2 {
        margin-top: 2rem;
      }

      p,
      li,
      blockquote {
        font-size: 1.33rem;
        line-height: 2.11rem;
      }

      p {
        text-align: justify;
        margin: 1.77rem 0;
      }

      @media (min-width: 1200px) {
        padding-right: 1rem;
      }

      .author {
        margin: 1rem auto;
      }

      figure {
        text-align: center;
        img {
          margin: 1rem auto;
          max-width: 90vw;
        }
      }

      blockquote {
        padding: 2rem;
        border: 4px solid #3fb618;
      }
    }

    .sidebar {
      margin: 1rem auto;
      width: 100%;
      padding: 0 0.5rem;

      .sidebar-block {
        margin-bottom: 1rem;
      }

      h3 {
        margin-top: 0;
        text-align: center;
      }

      @media (min-width: 1200px) {
        max-width: 450px;
        margin-left: 1rem;

        opacity: 0.333;
        transition: opacity 0.5s ease-out;
        -moz-transition: opacity 0.5s ease-out;
        -webkit-transition: opacity 0.5s ease-out;
        -o-transition: opacity 0.5s ease-out;

        &:hover {
          opacity: 1;
        }

        h3 {
          text-align: left;
        }

        .divider {
          margin: 0.33rem 0 1rem 0;
        }
      }
    }
  }
}
