nav {
  text-transform: uppercase;
  border-bottom: 4px solid #3fb618;

  background-color: rgba(255, 255, 255, 0.888);

  .nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.22rem;
    font-weight: 300;
    padding: 0 0.33rem !important;
    margin: 0.5rem;

    &.active {
      color: rgba(0, 0, 0, 0.9);
      font-weight: bold;
      background-color: #3fb618;
      font-style: italic;
    }
  }

  .navbar-brand {
    img {
      max-height: 54px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
