nav {
  background-color: rgba(255, 255, 255, 0.99);

  &.fixed-top {
    background-color: rgba(255, 255, 255, 0.88);
  }

  .btn-link {
    color: rgba(0, 0, 0, 0.5);

    &:active {
      color: rgba(0, 0, 0, 0.9);
    }
  }

  .navbar-brand {
    a {
      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }
}
