nav {
  text-transform: uppercase;
  border-bottom: 4px solid gold;

  .nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.22rem;
    font-weight: 300;
    padding: 0 !important;
    margin: 0.5rem;

    &.active {
      color: rgba(0, 0, 0, 0.9);
      font-weight: bold;
      border-bottom: 4px solid gold;
    }
  }

  .navbar-brand {
    img {
      max-height: 48px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
