nav {
  background-color: rgba(255, 255, 255, 0.77);

  .navbar-brand {
    a {
      font-weight: 200;
      letter-spacing: 2px;
      font-size: 1.66rem;
      color: steelblue;

      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }
}
