footer {
  padding: 1.66rem 0.33rem;
  border-top: 4px solid #3fb618;
  margin-top: 2rem;

  ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      padding: 0.33rem 0.5rem;

      a {
        font-size: 1.66rem;

        &:hover,
        &:visited {
          color: #3fb618;
        }
      }
    }
  }
}
