footer {
  background: steelblue;
  padding: 0.5rem 0.33rem;

  ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: white;

    li {
      display: inline;
      padding: 0.33rem;
    }
  }
}
