@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300|Mukta:200,300");

$color-gold: #ffd700;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

p,
button,
a,
li,
body {
  font-family: "Mukta", sans-serif;
}

.btn-container {
  margin: 0.33rem auto;

  &.left {
    margin: 0.33rem 0 0.33rem 0;
  }

  .btn {
    margin: 0.22rem;
  }
}

.btn-amazon {
  background-color: rgb(255, 153, 0);
  border-color: darken(rgb(255, 153, 0), 10%);
  color: black;
}

.btn {
  &.icon-text {
    display: flex;
    align-items: center;
    justify-content: space-around;

    span {
      margin-left: 0.33rem;
    }
  }
}

.btn,
.form-control {
  border-radius: 0;
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
