@import "~bootstrap/scss/bootstrap.scss";

$color-gold: #ffd700;

.btn-container {
  margin: 0.33rem auto;

  &.left {
    margin: 0.33rem 0 0.33rem 0;
  }

  .btn {
    margin: 0.22rem;
  }
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 100ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}
