#index {
  &.page {
    .cover {
      background: url("/static/img/adventure.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      min-height: 100vh;
      border-bottom: 8px solid lighten(steelblue, 10%);

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;

      h1 {
        margin-bottom: 0;
        font-size: 5rem;
        font-weight: 300;
      }

      h2 {
        margin-top: 0;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 2rem;
      }
    }

    .intro {
      text-align: center;
      margin: 2rem auto;
      max-width: 600px;
    }

    #habits-container {
      list-style: none;

      .hobby {
        padding-left: 0;

        img {
          max-width: 320px;
          margin-right: 2rem;
        }

        .header {
          display: flex;
          align-items: flex-start;
          justify-content: center;
        }

        h4 {
          font-size: 1.33rem;
        }

        .tags {
          list-style-type: none;
          margin: 1rem auto;
          padding-left: 0;

          .tag {
            display: inline;
            padding: 0.33rem 0.66rem;
            margin: 0.33rem;
            border: 1px solid rgba(0, 0, 0, 0.33);
            border-radius: 0.33rem;
          }
        }
      }
    }
  }
}
