#index {
  &.page {
    .cover {
      background: url("/static/img/adventure.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      min-height: 66vh;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 2rem 0.33rem;
      flex-direction: column;
      color: white;

      text-align: center;

      @media (min-width: 768px) {
        justify-content: center;
        padding: 4rem 0 0 0;
      }

      h1 {
        margin-bottom: 0;
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 0.25rem;

        span {
          margin-left: 1rem;
        }
      }

      h2 {
        font-weight: 200;
        text-transform: uppercase;
        font-size: 1.66rem;
        max-width: 666px;
        margin: 0 auto 0.666rem auto;
      }
    }
  }

  #lifestyle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
  }
}
