footer {
  background: steelblue;
  padding: 1.66rem 0.33rem;
  border-top: 8px solid #ffd700;

  ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: white;

    li {
      display: inline;
      padding: 0.33rem 0.5rem;

      a {
        color: white;
        font-size: 1.66rem;

        &:hover {
          color: lighten(steelblue, 20%);
        }
      }
    }
  }
}
