.post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem auto;

  img {
    max-width: 100%;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  h4 {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .post {
    flex-direction: row;
    align-items: flex-start;

    img {
      width: 250px;
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }
}
