.post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto;

  img {
    max-width: 100%;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 768px) {
  .post {
    flex-direction: row;
    align-items: flex-start;

    img {
      width: 200px;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      text-align: right;

      img {
        margin-right: 0;
        margin-left: 0.5rem;
      }
    }
  }
}
