.divider {
  margin: 0 auto 1rem auto;
  height: 2px !important;
  background-color: #ffd700;
  width: 50px;

  &.long {
    width: 250px;
  }

  &.medium {
    width: 125px;
  }

  &.left {
    margin: 0;
  }

  &.right {
    margin: 0 0 0 auto;
  }
}
