.divider {
  margin: 0 auto 1rem auto;
  height: 2px !important;
  background-color: #ffd700;
  width: 111px;

  &.long {
    width: 250px;
  }

  &.left {
    margin: 0.33rem 0 1rem 0;
  }

  &.right {
    margin: 0 0 0 auto;
  }
}
