#mail {
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0.33rem;
    flex-direction: column;

    max-width: 1024px;
    margin: 0 auto;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    img {
      width: 100vw;
      max-width: 500px;
      margin-bottom: 1rem;

      @media (min-width: 1024px) {
        margin-bottom: 0;
        margin-right: 1rem;
      }
    }

    p {
      @media (min-width: 1024px) {
        text-align: justify;
      }
    }

    .preform {
      padding: 0.33rem;

      text-align: left;
    }
  }
}
