form {
    width: 100%;
    margin: 0 auto;
    text-align: left !important;

    input {
      margin-bottom: 0.55rem;
    }

    button {
      margin-right: auto;
      text-transform: uppercase;
    }

    @media (min-width: 768px) {
      margin: 0;
    }
  }